@model IEnumerable<EmployeeInfoMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CatNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdCoded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RackPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PruchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CatNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdCoded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RackPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PruchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPrice)
        </td>
        <td>
           @*<img src="@item.ProductImagePath" height="50" width="50" alt="@item.ProdName" />*@
           @if (item.ProductImagePath != null)
           {
              <img src="@Url.Content(item.ProductImagePath)" width="50" height="50" alt="@item.ProdName" />
           }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
